html {
    scroll-behavior: smooth;
    scroll-padding: 40px;
}



/* GENERAL PPTES */
*{
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --primary-color: #fff;
    --secondary-color: rgb(57, 57, 57);
    --third-color: #5d2fdf;
    --fourth-colour: ##009790;
}

body {
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
    overflow-x: hidden;
    background-color: var(--primary-color);
}
    

/* Header Estilos */

header {
    display: flex;
    flex: row;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background: var(--primary-color);
    filter: drop-shadow(0 0 0.50rem rgb(74, 74, 74));
    z-index: 100;
    font-family: "inter";
}


@media (max-width: 1280px) {

    header {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 3.5rem;
        width: 100%;
        justify-content: space-between;
        position: fixed;
        background-color: var(--primary-color);
        filter: drop-shadow(0 0 0.50rem rgb(74, 74, 74));
        z-index: 100;
        font-family: "inter";
    }

    header img {
        padding-left: 10px;
        height: 30px;
    }

    .iconos-header {
        display: flex;
        flex-direction: row;
        gap: 5px;
        margin-right: 10px;
        align-items: center;
    }

    #logo-mobile {
        display: none;
    }

    #ico-login {
        height: 25px;
    }

    #ico-fav {
        height: 25px;
    }

    #ico-shop {
        height: 25px;
    }

    #ico-dark {
        height: 40px;
    }
}

@media (min-width: 800px) {

    .input-checkbox {
        display: none;
    }
    .iconos-header {
         display: none;
    }

    .nav_label {
        display: none;
    }
    .nav_drop{
        display: none;
    }

 


/* Montreal LOGO */
header img {
    padding-left: 5rem;
    padding-top: 5px;
    height: 6vh;
}

/* links del header */
.navbar {
    display: flex;
    justify-content: center;
}

.navbar a {
    font-size: 15px;
    text-align: center;
    align-items: center;
    color: var(--secondary-color);
    margin: 0 22px;
}

.navbar li{
    scroll-behavior: smooth;
}

/* Iconos header */

.iconos-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 5rem;
}

.login-box {
    margin-top: 13px;
    position: absolute;
    width: 200px;
    height: 100px;
    background-color: var(--secondary-color);
    border-radius: 0px 0px 10px 10px;
    border: 2px solid white;
}

.login-box li {
    text-align: center;
    padding: 12px;
}

.login a {
    text-decoration: none;
    color: var(--primary-color);
}

.login img {
    height: 40px;
    margin: 5px;
    cursor: pointer;
}

.input-user:checked ~ .login-box  {
    display: grid;
}

.input-user {
    display: none;
}

.login-box {
    display: none;
}

#ico-fav {
    height: 50px;
    padding: 10px;
    margin: 5px;
}


/*---------Shop cart------ */

.shop-list {
    display: none;
}

.input-shop {
    display: none;
}

.input-shop:checked ~ .shop-list {
    display: flex;
}

.shop-list {
    top: 78px;
    right: 1rem;
    flex-direction: column;
    position: absolute;
    width: 400px;
    height: fit-content;
    padding-bottom: 20px;
    background-color: var(--secondary-color);
    overflow: hidden;
    border-radius: 0px 0px 5px 5px;
    border: 2px solid var(--primary-color);
    gap: 20px;
}

.card-shop-list {
    top: 10px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    justify-content: space-between;
    height: 6rem;
    border: 5px solid var(--secondary-color);
    width: 22rem;
    border-radius: 5px;
    background-color: var(--primary-color);
    text-align: left;
}

.card-shop-list img {
    height: 6rem;
    padding: 1px;
}

.card-shop-list button {
    height: 50px;
    width: 50px;
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    border: none;
}

.card-shop-list button:hover {
    border: 4px solid rgb(98, 156, 255);
}

.shop-cart-actions {
    display: flex;
    align-items: center;
    width: 5rem;
    height: 5em;
    gap: 10px;
    text-align: center;
    flex-direction: column;
}

#remove-item {
    margin-top: 1px;
    text-decoration: none;
    color: red;
}

#shop-1-ico {
    height: 30px;
}

#ico-shop {
    height: 50px;
    padding: 10px;
    margin: 5px;
}

.shop-total-items {
    top: 10px;
    margin: 0 auto;
    margin-bottom: 10px;
    gap: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    justify-content: space-around;
    height: 4rem;
    border: 5px solid white;
    width: 22rem;
    border-radius: 5px;
    background-color: white;
    text-align: left;
}
}




/*-------- Dark mode JS ----------*/

.dark-mode {
    --primary-color: rgb(57, 57, 57);
    --secondary-color: #fff;
    
}

.dark-mode img {
    filter: invert(1);
}

.dark-mode .dark-mode-logo{
    filter: invert(0);
}

.dark-mode .filter {
    background-color: var(--third-color);
}

.dark-mode .filter button{
    filter: invert(1);
    background-color: var(--secondary-color);
}

.dark-mode .filter button:hover{
    background-color: #009790;
}

.dark-mode .filter button:focus{
    background-color: #00fff2;
}

.dark-mode .caja-shop {
    filter: invert(1);
    border-color: #000000;
}

.dark-mode .caja-title {
    color: var(--secondary-color);
}

.dark-mode .caja-categories span {
    color: var(--secondary-color);
}

.dark-mode .caja-shop button {
    filter: invert(1);
    border-color: var(--secondary-color);
}

.dark-mode .cards-brands{
    background-color: var(--third-color);
}

.dark-mode .cards-brands img {
    filter: invert(0);
}

.dark-mode .title-compromise {
    background-color: var(--fourth-colour);
}

.dark-mode .title-compromise h2 {
    color: var(--secondary-color);
}

.dark-mode .review_1 img{
    filter: invert(0)
}

.dark-mode .review_1 h3{
    color: var(--secondary-color);
}

.dark-mode .review_1 p{
    color: var(--secondary-color);
}

.dark-mode .box-contacto-gral {
    background-color: var(--third-color);
}

.dark-mode .pay-method{
    filter: invert(1);
}

.dark-mode .pay-method h2{
    filter: invert(1);
}

.dark-mode .mediaqueries-mobile-contact img{
    filter: invert(0);
}

.dark-mode .articulos{
    background-color: var(--third-color);
}

.dark-mode #cards-articulos img{
    filter: invert(0);
}

.dark-mode .box-social-media img{
    filter: invert(0);
}



#toggle-dark-mode {
    height: 30px;
    padding: 1px;
    margin: 5px;
    cursor: pointer;
}

/* ------------------------------------------------- */

/* Hero */

.Hero-section {
    display: flex;
    flex-direction: column;
    height: 32rem;
    width: 100%;
    justify-content: center;
    min-width: 75%;
}

.hero-title {
    display: flex;
    align-items: center;
    height: 5rem;
    position: absolute;
    margin-left: 3rem;
}

.type-effect {
    color: #ffffff;
    text-shadow: 1px 1px 2px rgb(57, 57, 57);
    width: 15rem;
    height: 5rem;
}

.type-effect h1 {
    font-size: 5rem;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif; 
    width: 10rem;
}

.hero-img {
    z-index: -2;
    height: 30rem;
    width: 100%;
    background-image: url(./Assets/Banner/Banner-bg-2.jpg);
    background-size: cover;
    position: static;
    margin-top: 80px;
    background-position-y: -300px;
    filter: drop-shadow(0 0 0.50rem rgb(74, 74, 74));
}

/* Media queries desktop */
@media (max-width: 1440px) {

    .hero-img {
        z-index: -2;
        height: 30rem;
        width: 100%;
        background-image: url(./Assets/Banner/Banner-bg-2.jpg);
        background-size: cover;
        position: static;
        margin-top: 80px;
        background-position-y: -150px;
        background-repeat: no-repeat;
        filter: drop-shadow(0 0 0.50rem rgb(74, 74, 74));
}

}

@media (max-width: 1366px) {

    .hero-img {
        z-index: -2;
        height: 30rem;
        width: 100%;
        background-image: url(./Assets/Banner/Banner-bg-2.jpg);
        background-size: cover;
        position: static;
        margin-top: 80px;
        background-position-y: -150px;
        background-repeat: no-repeat;
        filter: drop-shadow(0 0 0.50rem rgb(74, 74, 74));
    }
}

@media (max-width: 1024px) {

    .hero-img {
        z-index: -2;
        height: 30rem;
        width: 100%;
        background-image: url(./Assets/Banner/Banner-bg-2.jpg);
        background-size: cover;
        position: static;
        margin-top: 80px;
        background-position-y: -70px;
        background-repeat: no-repeat;
        filter: drop-shadow(0 0 0.50rem rgb(74, 74, 74));
    }
}

/* -------------------------- */

/* Products Filters */
.filter {
    display: flex;
    justify-content: space-evenly;
    height: 8rem;
    width: 100%;
    background-color: var(--secondary-color);
    margin-bottom: 20px;
    align-items: center;
    filter: drop-shadow(0 0 0.50rem rgb(74, 74, 74));
}

.filter button {
    height: 2rem;
    width: 8rem;
    border: none;
    border-radius: 5px;
    background-color: #5d2fdf;
    color: var(--primary-color);
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

.filter button:hover{
    background-color: #5526c5;
}

.filter button:focus {
    box-shadow: 0 0 0 3px #8659e9;
}

/* BOXES-SHOP */

.boxes-shop {
    padding: 0;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, 350px);
    gap: 20px;
    width: 100%;
    height: auto;
    justify-content: center;
    padding-bottom: 20px;
}

/* Media queries Desktop */

@media (max-width: 1440px) {
    .boxes-shop {
        margin: 0 auto;
        width: 100%;
        height: auto;
        gap: 20px;
        grid-template-columns: repeat(4, 310px);
    } 
}

@media (max-width: 1366px) {
    .boxes-shop {
        margin: 0 auto;
        width: 100%;
        height: auto;
        gap: 20px;
        grid-template-columns: repeat(4, 310px); 
    } 
}
@media (max-width: 1280px) {
    .boxes-shop {
        margin: 0 auto;
        width: 100%;
        height: auto;
        gap: 20px;
        grid-template-columns: repeat(3, 310px);
    } 
}
@media (max-width: 1024px) {
    .boxes-shop {
        margin: 0 auto;
        width: 100%;
        height: auto;
        gap: 20px;
        grid-template-columns: repeat(3, 310px);
        
    } 
}

/* ------------------------------ */

.caja-shop {
    display: flex;
    flex-direction: column;
    padding: 2px;
    width: 305px;
    height: 500px;
    border-radius: 8px;
    border: 2px solid rgb(0, 0, 0);
    backdrop-filter: blur(75px);
    -webkit-backdrop-filter: blur(50px);
}

.caja-categories {
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja-categories span {
    border-radius: 5px;
    border-width: 1.2px;
    color: #000000;
    min-width: 5rem;
    width: fit-content;
    max-height: none;
    height: 1.2rem;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    
}

.box-shop-imagen {
    width: 300px;
    height: 330px;
}

.box-shop-imagen img {
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 5px 5px 0px 0px;
}

.caja-title {
    margin-top: 0.5rem;
    flex-direction: column;
    color: rgb(22, 22, 22);
}

.caja-title h2 {
    font-weight: 800;
    font-size: 18px;
    font-family: 'inter', sans-serif;
    text-align: center;

}

.caja-title p {
    font-size: 14px;
    font-style: oblique;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

/* Favoritos */
.add-to-fav {
    position: absolute;
    right: 5px;
    top: 5px;
}

.add-to-fav img {
    height: 30px;
}

.add-to-cart {
    margin-top: 1rem;
}

.add-to-cart button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    height: 3rem;
    width: 100%;
    gap: 10px;
    border-radius: 4px 4px 8px 8px;
    color: #ffffff;
    border: none;
    background-color: rgb(75, 75, 75);
    font-family: 'Montserrat', sans-serif;
}

.add-to-cart button:hover {
    background-color: rgb(116, 0, 184);
}

.add-to-cart button:focus {
    background-color: rgb(0, 143, 226);
}

#cart-button {
    height: 2rem;
    filter: invert(1);
}

/* Box Marcas */

.cards-brands {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 auto;
    height: 350px;
    width: 100%;
    min-width: 75%;
    background-color: rgb(57, 57, 57); 
}

.cards-brands img {
    height: 150px;
}


@media (max-width: 1024px) {
   .cards-brands img {
        height: 130px;
    }  
} 

/*  BOX REVIEWS GRAL */

.title-compromise {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 100%;
    background-color: #ffffff;
    text-align: center;
    font-family: 'inter', sans-serif;
    font-size: 25px;
    margin-bottom: 30px;
}

.box-reviews {
    display: flex;
    width: 100%;
    height: 300px;
    position: relative;
    min-width: 75%;
    border-radius: 10px;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: 'Montserrat', sans-serif;
}

/* Boxes de Reviews */

.review_1 {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 20rem;
    height: 16rem;
}

.review_1 img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin: 0 auto;
    background-size: cover;
}

.review_1 h3 {
    font-size: 1.5rem;
    text-align: center;
    font-weight: 800;
}

.review_1 p {
    text-align: center;
}

/* Contacto */

.box-contacto-gral {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 450px;
    width: 100%;
    min-width: 75%;
    background-color: var(--secondary-color);
    margin-top: 10px;
    justify-content: space-around;
    color: #F5F5F5;
}

/* Optica montreal info */

.review_place {
    display: flex;
    flex-direction: column;
    width: 25rem;
    height: 20rem;
    text-align: left;
    justify-content: center;
    padding: 1rem;
}
.review_place h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-align: center;
    font-size: 2.5rem;
}

.review_place p {
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    color: #F5F5F5;
    position: static;
    margin-top: 1rem;
}

/* Metodos de pago */

.pay-method {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pay-method h2 {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
/* ----Boxes de contacto---- */

.boxes-contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    justify-content: space-between;
    gap: 30px;
    margin-right: 5rem;
}

.boxes-contacto p {
    text-align: center;
    justify-content: center;
    padding: 0;
    font-size: 2rem;
    font-weight: 500;
}

.mediaqueries-mobile-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: auto;
    gap: 30px;
}
    
.mediaqueries-mobile-contact img {
    height: 35px;
    margin-bottom: -20px;
}

@media (max-width: 1440px) {
    
        .box-contacto-gral {
            display: flex;
            flex-direction: column;
            align-items: center;
            height: auto;
            width: 100%;
            min-width: 75%;
            background-color: rgb(57, 57, 57);
            margin-top: 10px;
            justify-content: space-around;
            color: #F5F5F5;
            padding-bottom: 20px;
        }
    
    
        .pay-method {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    
        .pay-method img {
            width: 850px;
        }
    
        .boxes-contacto {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: auto;
            margin: 0 auto;
            gap: 0;
        }
    
        .boxes-contacto p {
            text-align: center;
            justify-content: center;
            padding: 0;
        }
    
        .mediaqueries-mobile-contact {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            width: 100%;
            height: auto;
            gap: 20px;
        }
        
        .mediaqueries-mobile-contact img {
            height: 20px;
            margin-bottom: -18px;
        }
}

@media (max-width: 1366px) {
    
    .box-contacto-gral {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: auto;
        width: 100%;
        min-width: 75%;
        background-color: rgb(57, 57, 57);
        margin-top: 10px;
        justify-content: space-around;
        color: #F5F5F5;
        padding-bottom: 20px;
    }


    .pay-method {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .pay-method img {
        width: 850px;
    }

    .boxes-contacto {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: auto;
        margin: 0 auto;
        gap: 0;
    }

    .boxes-contacto p {
        text-align: center;
        justify-content: center;
        padding: 0;
    }

    .mediaqueries-mobile-contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: auto;
        gap: 20px;
    }
    
    .mediaqueries-mobile-contact img {
        height: 20px;
        margin-bottom: -18px;
    }
}

/* Google maps */

.mapouter {
    display: flex;
    align-items: center;
}

/* Info cards */

.articulos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 25rem;
    width: 100%;
    background-color:#3C3C3C
}

#cards-articulos {
    display: flex;
    flex-direction: column;
    padding: 2px;
    width: 350px;
    height: 300px;
    border-radius: 8px;
    border: 2px solid rgb(255, 255, 255);
}

#cards-articulos img {
    width: 100%;
    height: 100%;
}


#cards-articulos p {
    position: absolute;
    font-weight: 600;
    z-index: 5;
    color: #ffffff;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 2px 1px 2px rgb(0, 0, 0);
    inline-size: 200px;
    margin-top: -50px;
    margin-left: 75px;
}

#cards-articulos img:hover {
    filter: opacity(30%);
}

#cards-articulos p:hover {
    filter: opacity(100%);
}

@media only screen and (min-width: 810px) and (max-width: 1366px) {

    #cards-articulos {
        display: flex;
        flex-direction: column;
        padding: 2px;
        width: 310px;
        height: 280px;
        border-radius: 8px;
        border: 2px solid rgb(255, 255, 255);
    }

    #cards-articulos p {
        margin-top: -50px;
        margin-left: 50px;
    }
}

@media only screen and (min-width: 296px) and (max-width: 1365px) {
    .articulos {
    display: none;
    }
}


/* ------Footer------- */

.box-footer {
    display: flex;
    align-items: center;
    background-color: #242325;
    height: 300px;
    width: 100%;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'inter', sans-serif;
}

.box-footer-text-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    text-align: left;
    width: 200px;
}

.box-footer-text-1 span {
    font-weight: 800;
    color: #F1F2EB;
}

.box-footer-text-1 a {
    color: #F1F2EB;
}

/* Social media boxes */

.box-social-media {
    text-align: center;
    width: 20rem;
}

.box-social-media img {
    margin-top: 0.5em;
    margin-left: 0.5em;
    height: 3rem;
    cursor: pointer;
}

.box-social-media h3 {
    color: #F5F5F5;
    font-weight: 400;
}

/* Title Creator */

.title-creator {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
    background-color: #363636;
}

.title-creator h3 {
    font-size: 15px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
    color: #F5F5F5;
}

